.App {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.App-Select {
  width: 200px;
  margin-top: .5rem;
}

.Container {
  max-width: 1280px;
  width: 75%;
  margin: 0 auto;
  margin-top: 3rem;
}

.md4 {
  width: 22.333333%;
  margin-left: auto;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.22s ease-out;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 2rem;
}

.md8 {
  width: 66.666667%;
  margin-left: auto;
  left: auto;
  right: auto;
  float: left;
}

html, body {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  height: 100%;
}

canvas {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.22s ease-out;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 2rem;
}

.Lab__title {
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.Setting__title {
  margin: 0;
}

.Thresholds__language {
  padding: 1rem 0;
}

.Thresholds__parent {
  text-align: left;
  padding-bottom: 1rem;
}

.Thresholds__input {
  width: 11rem;
  margin-top: .5rem;
}

input:focus {
  outline: none;
}

label {
  font-weight: 500;
  font-size: 14px;
}

@media (max-width: 375px) {
  .Container {
    margin-left: 7%;
    margin-bottom: 3rem;
  }
}

@media (max-width: 525px) {
  .Thresholds__input {
    margin-top: 1rem;
  }
}

@media (max-width: 1128px) {
  .md4, .md8 {
    width: 100%;
    float: none;
  }
}

@media (max-width: 715px) {
  .Lab__title {
    font-size: 2.5rem;
  }
}
